@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}
@font-face {
  font-family: 'icono_estrellita_vacia';
  src: url("../fonts/icomoon.eot?n253df");
  src: url("../fonts/icomoon.eot?n253df#iefix") format('embedded-opentype'), url("../fonts/icomoon.ttf?n253df") format('truetype'), url("../fonts/icomoon.woff?n253df") format('woff'), url("../fonts/icomoon.svg?n253df#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icono_estrellita_llena';
  src: url("../fonts/estrellallena.eot?az4rfq");
  src: url("../fonts/estrellallena.eot?az4rfq#iefix") format('embedded-opentype'), url("../fonts/estrellallena.ttf?az4rfq") format('truetype'), url("../fonts/estrellallena.woff?az4rfq") format('woff'), url("../fonts/estrellallena.svg?az4rfq#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'googleicon';
  src: url("../fonts/googleicon.eot?9927647");
  src: url("../fonts/googleicon.eot?9927647#iefix") format('embedded-opentype'), url("../fonts/googleicon.woff?9927647") format('woff'), url("../fonts/googleicon.ttf?9927647") format('truetype'), url("../fonts/googleicon.svg?9927647#googleicon") format('svg');
  font-weight: normal;
  font-style: normal;
}
.btnPpal {
  background: #7acc2d !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  transition: 0.5s;
}
.btnPpal:hover {
  background: #7acc2d;
  color: #fff;
  font-size: 17px;
}
body {
  font-family: 'Allerta', sans-serif;
}
.headerppal {
  background: #126798;
  overflow: hidden;
  box-shadow: 0 8px 10px rgba(0,0,0,0.5);
  padding-bottom: 30px;
  text-align: center;
}
.headerppal .titulo {
  color: #fff;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 30px;
  margin-bottom: 0;
}
.headerppal .titulo-a {
  color: #fff;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 15px;
}
.headerppal .header-logotipo {
  margin-right: 5em;
  margin-left: 50px;
  margin-top: 20px;
}
.headerppal .header-logotipo img {
  border-right-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 60%;
  height: 140px;
  padding: 20px;
  width: 140px;
  transition: 0.6s;
}
.headerppal .header-logotipo img:hover {
  transform: scale(1.2);
}
.headerppal .header-avatar {
  display: none;
  float: right;
  margin-top: -200px;
  margin-right: 50px;
}
.headerppal .header-avatar img {
  border-radius: 60%;
  height: 80px;
  width: 80px;
  transition: 0.6s;
  transform: translateY(100px);
}
.menu {
  background: #219cca;
  border-left: 10px solid #fff;
  box-shadow: 0 8px 10px rgba(0,0,0,0.5);
}
.menu ul {
  margin: 0px;
}
.menu ul li {
  display: block;
  line-height: 40px;
  transition: 0.6s;
}
.menu ul li:hover {
  background: #126798;
}
.menu ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 1em;
  transition: 0.6s;
}
.menu ul li a:hover {
  font-size: 17px;
}
.footer {
  height: 100%;
  background: #126798;
  margin: 0px;
}
.footer .contenedor-footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}
.footer .contenedor-footer .formulario-contactenos {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.footer .contenedor-footer .formulario-contactenos .form-col1,
.footer .contenedor-footer .formulario-contactenos .form-col2 {
  margin-right: 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
label
}
.footer .contenedor-footer .formulario-contactenos .form-col1 input,
.footer .contenedor-footer .formulario-contactenos .form-col2 input {
  margin-bottom: 10px;
}
.footer .contenedor-footer .formulario-contactenos .form-col1 label {
  color: #fff;
}
.footer .contenedor-footer .formulario-contactenos .form-col1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer .contenedor-footer .formulario-contactenos .form-col1 .tipos-comentarios {
  display: flex;
  flex-direction: column;
}
.footer .contenedor-footer .formulario-contactenos .form-col1 .tipos-comentarios label {
  font-size: 13px;
}
.footer .contenedor-footer .formulario-contactenos .form-col2 {
  align-items: flex-start;
}
.footer .contenedor-footer .formulario-contactenos .form-col2 label {
  color: #fff;
  margin-bottom: 1em;
}
.footer .contenedor-footer .formulario-contactenos .form-col2 textarea {
  margin-bottom: 10px;
  height: 110px;
}
.footer .contenedor-footer .redesSociales .realizadopor {
  padding-top: 30px;
}
.footer .contenedor-footer .redesSociales .realizadoclase {
  padding-bottom: 30px;
}
.footer .contenedor-footer .redesSociales p {
  color: #fff;
  text-align: center;
  margin: 10px;
}
.footer .contenedor-footer .redesSociales .logos-redes {
  text-align: center;
}
.footer .contenedor-footer .redesSociales .logos-redes a {
  text-decoration: none;
}
.footer .contenedor-footer .redesSociales .logos-redes .logo-facebook:before {
  color: #7acc2d;
  content: "\f101";
  font-size: 30px;
  font-family: "Flaticon";
}
.footer .contenedor-footer .redesSociales .logos-redes .logo-twitter:before {
  color: #7acc2d;
  content: "\f102";
  font-size: 30px;
  font-family: "Flaticon";
}
.footer .contenedor-footer .redesSociales .logos-redes .logo-github:before {
  color: #7acc2d;
  content: "\f100";
  font-size: 30px;
  font-family: "Flaticon";
}
.posts {
  padding: 0.8em;
  margin: 0px;
  text-align: center;
}
.posts .post {
  background: #fff;
  border: 1px solid #000;
  box-shadow: 10px 9px 25px -1px rgba(0,0,0,0.75);
  display: block;
  margin-bottom: 1.5em;
  margin-right: 1.5em;
  width: 100%;
}
.posts .post .post-calificacion {
  text-align: center;
  padding: 0.5em;
}
.posts .post .post-calificacion .post-estrellita-vacia {
  text-decoration: none;
}
.posts .post .post-calificacion .post-estrellita-vacia:before {
  color: #7acc2d;
  content: "\e9d7";
  font-family: "icono_estrellita_vacia";
}
.posts .post .post-calificacion .post-estrellita-llena {
  text-decoration: none;
}
.posts .post .post-calificacion .post-estrellita-llena:before {
  color: #7acc2d;
  content: "\e9d9";
  font-family: "icono_estrellita_llena";
}
.posts .post .post-titulo {
  text-align: center;
  background: #eee;
  font-family: 'Montserrat', sans-serif;
  padding: 0.5em;
}
.posts .post .post-titulo h5 {
  font-weight: bold;
}
.posts .post .post-video {
  text-align: center;
  padding: 0 0.5em;
}
.posts .post .post-video iframe {
  width: 100%;
  height: 300px;
}
.posts .post .post-video .post-imagen-video {
  width: 100%;
  height: 300px;
}
.posts .post .post-descripcion {
  text-align: center;
  background: #eee;
  font-family: 'Allerta', sans-serif;
  padding: 0.5em;
  font-size: 17px;
}
.posts .post .post-videolink {
  text-align: center;
  background: #126798;
  color: #fff;
  font-family: 'Allerta', sans-serif;
  padding: 0.5em;
  font-size: 17px;
}
.posts .post .post-videolink a {
  color: #fff;
  text-decoration: underline;
}
.posts .post .post-footer {
  background: #126798;
  color: #fff;
  font-size: 17px;
  padding-bottom: 0.5em;
  padding-top: 1em;
  padding-left: 0.5em;
  text-align: left;
  width: 100%;
}
.modal-registro {
  width: 80% !important;
}
.registro-bienvenida {
  text-align: center;
  width: 100%;
}
.registro-bienvenida h4 {
  color: #126798;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.registro-bienvenida .registro-bienvenida-texto {
  margin-bottom: 1em;
  font-size: 1em;
  text-align: left;
}
.registro-bienvenida span {
  color: #7acc2d;
  font-size: 1.2em;
  font-weight: bold;
}
.registro-formulario {
  border-left: 0.3em solid #126798;
}
.registro-formulario div {
  margin: 0;
}
.registro-formulario label {
  color: #126798;
  font-size: 1em;
}
.registro-formulario a {
  margin-top: 2em;
  text-align: center;
  width: 80% !important;
}
.registro-formulario .div-btnInicioSesion {
  text-align: center;
}
.registro-formulario .div-btnInicioSesion a {
  background: #126798 !important;
}
.registro-formulario .lbl-ingresar-redes {
  color: #126798;
  font-weight: bold;
  padding-top: 1em;
  text-align: center;
}
.registro-formulario .registro-iconos-redes {
  background: #fff !important;
  text-align: center;
}
.registro-formulario .registro-iconos-redes .logo-facebook:before {
  color: #7acc2d;
  content: "\f101";
  font-size: 40px;
  font-family: "Flaticon";
}
.registro-formulario .registro-iconos-redes .logo-google {
  margin-left: 1em;
}
.registro-formulario .registro-iconos-redes .logo-google:before {
  color: #7acc2d;
  content: "\f2b3";
  font-size: 45px;
  font-family: "googleicon";
}
.registro-formulario .registro-iconos-redes .logo-twitter {
  margin-left: 1em;
}
.registro-formulario .registro-iconos-redes .logo-twitter:before {
  color: #7acc2d;
  content: "\f102";
  font-size: 40px;
  font-family: "Flaticon";
}
.div-btnRegistrarse {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 0em;
}
.div-btnRegistrarse a {
  background: #126798 !important;
}
.titulo-posts {
  color: #126798;
  font-weight: bold;
  text-align: center;
}
#btnUploadFile {
  background: #126798 !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  transition: 0.5s;
  margin-bottom: 1em;
  margin-top: 1em;
}
@media screen and (min-width: 768px) {
  .headerppal {
    text-align: left;
  }
  .headerppal .header-logotipo {
    float: left;
  }
  .headerppal .header-avatar {
    display: inline-block;
  }
  .menu ul {
    height: 40px;
  }
  .menu ul li {
    display: inline-block;
  }
  .posts .post {
    display: inline-block;
    margin-top: 25px;
    width: 47%;
  }
  .posts .post .post-descripcion {
    height: 120px;
  }
  .footer .contenedor-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer .contenedor-footer .formulario-contactenos {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }
  .footer .contenedor-footer .formulario-contactenos .form-col1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer .contenedor-footer .formulario-contactenos .form-col1 .tipos-comentarios {
    display: flex;
    flex-direction: row;
  }
  .footer .contenedor-footer .redesSociales {
    margin-top: 40px;
    margin-bottom: 45px;
    padding-right: 3em;
    border-right: 3px solid #fff;
  }
  .registro-bienvenida {
    text-align: left;
  }
  .registro-bienvenida h4 {
    margin-bottom: 1em;
    font-size: 2em;
  }
  .registro-bienvenida .registro-bienvenida-texto {
    margin-bottom: 2em;
    font-size: 1.5em;
  }
  .registro-bienvenida span {
    font-size: 1.5em;
  }
  .modal-registro {
    width: 70% !important;
  }
}
